<h2>New Recipe: </h2>
<form method="POST" action="/recipes/add">
  <div class="form-group">
  <label for="title">Recipe Title: </label>
  <input class="form-control" type="text" name="title" />
  </div>

  <div class="form-group">
    <label for="source">Source: </label>
    <input class="form-control" type="text" name="source" />
  </div>

  <div class="form-group">
    <label for="description">Description: </label>
    <textarea class="form-control" rows="3" name="description"></textarea>
  </div>

  <div class="form-group">
  <label for="ingredients">Ingredients: </label>
  <textarea class="form-control" rows="3" name="ingredients" ></textarea>
  </div>

  <div class="form-group">
  <label for="instructions">Instructions: </label>
  <textarea class="form-control" rows="3" name="instructions" ></textarea>
  </div>

  <button class="btn btn-primary" type="submit" width="100">Submit</button>
</form>